<div class="section">
    <div class="section03">
        <div onclick="selectEmotion('슬픔')" class="card-emotion" id="sadness">슬픔</div>
        <div onclick="selectEmotion('분노')" class="card-emotion" id="anger">분노</div>
        <div onclick="selectEmotion('스트레스')" class="card-emotion" id="stress">스트레스</div>
        <div onclick="selectEmotion('우울/무기력함')" class="card-emotion" id="depressed">우울/무기력함</div>
    </div>
    <div class="answer">
        <button class="btn-previous" onclick="previous('section03')">이전</button>
        <button class="btn-next" onclick="next('section03')">다음</button>
    </div>
</div>