<div class="section">
    <div class="question02">
        <div class="card col-sm-3"></div>
        <div class="card col-sm-3"></div>
        <div class="card col-sm-3"></div>
        <div class="card col-sm-3"></div>
        <div class="card col-sm-3"></div>
        <div class="card col-sm-3"></div>
    </div>
    <div class="answer">
        <button class="btn-previous" onclick="prev('section05')">이전</button>
        <button class="btn-next" onclick="next('section05')">다음</button>
    </div>
</div>