<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nanum+Gothic:wght@400;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<div class="container">
    <div class="header">
        Eating Emotion
    </div>
    <div class="body">

        <div class="icon">
            <img src="../static/icon.gif" alt="icon">
        </div>
        <div class="wrap">
            <div class="content content-select">
                <div class="card col-sm-3 selected1">선택1</div>
                <div class="card col-sm-3 selected2">선택2</div>

                <div class="card col-sm-3"></div>
                <div class="card col-sm-3"></div>
                <div class="card col-sm-3"></div>
                <div class="card col-sm-3"></div>
            </div>
            <div class="content-footer">
                <button id="submit">b</button>
            </div>

        </div>

    </div>
    <div class="footter"></div>

</div>

</body>
</html>