<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nanum+Gothic:wght@400;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css.css">
</head>
<body>

<div class="container">
    <div class="header">
        Eating Emotion
    </div>
    <div class="body">

        <div class="icon">
            <img src="../static/icon.gif" alt="icon">
        </div>

        <div class="wrap">
            <div class="content-address">
                <input type="text" class="search" placeholder="OO시 OO구 형식으로 입력해주세요 ex) 서울시 강남구">
            </div>

            <div class="content-footer">
                <button id="reload">a</button>
                <button id="submit">b</button>
            </div>
        </div>


    </div>
    <div class="footter"></div>

</div>

</body>
</html>